<launch>

  <arg name="world_frame_id" default="world"/>
  <arg name="mav_name" default="kingfisher"/>
  <arg name="mav_id" default="1"/> <!-- id should be greater than 0-->
  <!-- random map -->
  <arg name="global_map_topic" default="/random_forest/global_cloud"/>

  <arg name="odom_topic" default="/$(arg mav_name)/dodgeros_pilot/groundtruth/odometry"/>  <arg name="cmd_topic" default="/quadrotor/position_cmd"/>
  <arg name="waypoints_topic" default="/$(arg mav_name)/waypoints"/>

  <arg name="map_size_x" value="100.0"/>
  <arg name="map_size_y" value="20.0"/>
  <arg name="map_size_z" value="10.0"/>

  <arg name="map_origin_x" value="-20.0"/>
  <arg name="map_origin_y" value="-10"/>
  <arg name="map_origin_z" value="-1"/>

  <arg name="color/r" value="0.0"/>
  <arg name="color/g" value="0.0"/>
  <arg name="color/b" value="1.0"/>
  <arg name="color/a" value="0.7"/>


  <!-- main algorithm params -->
  <include file="$(find plan_manage)/launch/kino_algorithm.xml">
    <arg name="world_frame_id" value="$(arg world_frame_id)"/>

    <arg name="map_size_x_"    value="$(arg map_size_x)"/>
    <arg name="map_size_y_"    value="$(arg map_size_y)"/>
    <arg name="map_size_z_"    value="$(arg map_size_z)"/>

    <arg name="map_origin_x" value="$(arg map_origin_x)"/>
    <arg name="map_origin_y" value="$(arg map_origin_y)"/>
    <arg name="map_origin_z" value="$(arg map_origin_z)"/>

    <arg name="odom_topic"      value="$(arg odom_topic)"/>
    <arg name="waypoints_topic" value="$(arg waypoints_topic)"/>
    <arg name="trigger_topic" value="/$(arg mav_name)/start_bench"/>

    <arg name="tracker_topic" value="/$(arg mav_name)/trackers_manager/poly_tracker/PolyTracker/goal"/>
    <arg name="srv_name"  value="/$(arg mav_name)/mav_services/poly_tracker"/>

    <!-- camera pose: transform of camera frame in the world frame -->
    <!-- depth topic: depth image, 640x480 by default -->
    <!-- don't set cloud_topic if you already set these ones! -->
    <arg name="camera_pose_topic" value="/no_pose"/>
    <arg name="depth_topic" value="/$(arg mav_name)/dodgeros_pilot/unity/depth"/>

    <!-- topic of point cloud measurement, such as from LIDAR  -->
    <!-- don't set camera pose and depth, if you already set this one! -->
    <arg name="cloud_topic" value="pcl_render_node/cloud"/>

    <!-- intrinsic params of the depth camera -->
    <arg name="cx" value="320.0"/>
    <arg name="cy" value="240.0"/>
    <arg name="fx" value="201.680672269"/>
    <arg name="fy" value="201.680672269"/>

    <!-- maximum velocity and acceleration the drone will reach -->
    <arg name="max_vel" value="4.0" />
    <arg name="max_acc" value="6.0" />

    <!-- 1: use 2D Nav Goal to select goal  -->
    <!-- 2: use global waypoints below  -->
    <arg name="flight_type" value="1" />
    
    <!-- global waypoints -->
    <!-- If flight_type is set to 2, the drone will travel these waypoints one by one -->
    <arg name="point_num" value="2" />

    <arg name="point0_x" value="19.0" />
    <arg name="point0_y" value="0.0" />
    <arg name="point0_z" value="1.0" />

    <!-- set more waypoints if you need -->
    <arg name="point1_x" value="-19.0" />
    <arg name="point1_y" value="0.0" />
    <arg name="point1_z" value="1.0" />

    <arg name="point2_x" value="0.0" />
    <arg name="point2_y" value="19.0" />
    <arg name="point2_z" value="1.0" />
    
  </include>

</launch>
